<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="InvAcc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="InvAcc.Properties.Settings.DBPROSOFT_defaultConnectionString" connectionString="Data Source=.\prosoft;Initial Catalog=DBPROSOFT_default;Persist Security Info=True;User ID=sa;Password=&quot;Prosoft@prosoft&amp;ma89&quot;" providerName="System.Data.SqlClient" />
    <add name="InvAcc.Properties.Settings.PROSOFT_default_1ConnectionStringh" connectionString="Data Source=EC2AMAZ-SI4ASSC\PROSOFT;Initial Catalog=PROSOFT_default_1;Persist Security Info=True;User ID=sa;Password=&quot;Prosoft@prosoft&amp;amp;ma89&quot;" providerName="System.Data.SqlClient" />
    <add name="InvAcc.Properties.Settings.MRDClientsDBConnectionString" connectionString="Data Source=.\prosoft;Initial Catalog=MRDClientsDB;Persist Security Info=True;User ID=sa;Password=Prosoft@prosoft&amp;ma89" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1Command.2" publicKeyToken="e808566f358766d8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.20151.38" newVersion="2.0.20151.38" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Interop.Excel" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevComponents.Instrumentation" publicKeyToken="f90dc37c26666a67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.1.0.37" newVersion="14.1.0.37" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevComponents.DotNetBar.SuperGrid" publicKeyToken="7eb7c3a35b91de04" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.1.0.37" newVersion="14.1.0.37" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevComponents.DotNetBar2" publicKeyToken="7eb7c3a35b91de04" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.1.0.37" newVersion="14.1.0.37" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Interop.SmartTag" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" />
        <bindingRedirect oldVersion="13.0.2900.0" newVersion="10.5.1934.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Shared" publicKeyToken="692fbea5521e1304" />
        <bindingRedirect oldVersion="13.0.2900.0" newVersion="10.5.1934.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" />
        <bindingRedirect oldVersion="13.0.2900.0" newVersion="10.5.1934.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <userSettings>
    <InvAcc.Properties.Settings>
      <setting name="ServerName" serializeAs="String">
        <value>.\PROSOFT</value>
      </setting>
      <setting name="SUser" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="DefaultDDatabaseName" serializeAs="String">
        <value>PROSOFT_default</value>
      </setting>
      <setting name="DefaultUDatabaseName" serializeAs="String">
        <value>DBPROSOFT_default</value>
      </setting>
      <setting name="SSSTyp" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SSSLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="runTyp" serializeAs="String">
        <value>G.</value>
      </setting>
      <setting name="Mode" serializeAs="String">
        <value>SQL</value>
      </setting>
      <setting name="SqlFolder" serializeAs="String">
        <value>MSSQL10_50.PROSOFT</value>
      </setting>
      <setting name="pscomp" serializeAs="String">
        <value>Password=Prosoft@prosoft&amp;ma89;Persist Security Info=True;</value>
      </setting>
      <setting name="Registerks" serializeAs="String">
        <value>Software\PRS AND PR Settings\MrdSoft\\Register</value>
      </setting>
      <setting name="WinOperation" serializeAs="String">
        <value>Software\PRS AND PR Settings\WinSystemOperation</value>
      </setting>
      <setting name="Intelk" serializeAs="String">
        <value>Software\MrdHrdw\ItIntel</value>
      </setting>
      <setting name="Prog_MessageToShow" serializeAs="String">
        <value />
      </setting>
      <setting name="Prog_StartCommandToExecute" serializeAs="String">
        <value />
      </setting>
      <setting name="Prog_AutoCommandToExecute" serializeAs="String">
        <value />
      </setting>
      <setting name="SPassword" serializeAs="String">
        <value>"Prosoft@prosoft&amp;ma89"</value>
      </setting>
      <setting name="B3" serializeAs="String">
        <value />
      </setting>
    </InvAcc.Properties.Settings>
  </userSettings>
</configuration>